.addPhotoComponent {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPhotoBox {
  height: 500px;
  width: 500px;
  color: #dad7d2;
  background-color: #181a1b;
  opacity: 0.9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;  
  -webkit-box-shadow: -12px 14px 11px 1px rgba(0,0,0,0.79);
  -moz-box-shadow: -12px 14px 11px 1px rgba(0,0,0,0.79);
  box-shadow: -12px 14px 11px 1px rgba(0,0,0,0.79);

}

.addPhotoBoxTitle {
  font-size: 30px;
  margin-top: 20px;
}

.inputs {
  height: 150px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-around;
  margin-top: 50px;
}

.addPhotoButtons {
  height: 150px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
