.navigationComponent {
  height: 100px;
  width: 100vw;
  color: #dad7d2;
  background-color: #181a1b;
  opacity: 0.9;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 14px 5px rgba(0,0,0,0.79);
  -moz-box-shadow: 0px 9px 14px 5px rgba(0,0,0,0.79);
  box-shadow: 0px 9px 14px 5px rgba(0,0,0,0.79);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
}

.navLogo {
  filter: invert(1);
}

.homeButton {
  cursor: pointer;
  font-size: 25px;
}

.navigationAddPhotoButton {
  cursor: pointer;
  font-size: 25px;
}

.addPost {
  cursor: pointer;
  font-size: 25px;
}
.editProfileButton {
  cursor: pointer;
}
.signOutButton {
  cursor: pointer;
}

.profileBox {
  max-height: 100px;
  display: flex;
  flex-direction: row;
}

.profilePicBox {
  height: 100px;
  width: 100px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 10px;
}

.navProfilePic {
  height: 80px;
  width: 80px;
  /* min-width: 70px; */
  border-radius: 4px;
  object-fit: cover;
}

.welcomeAndEdit {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.navWelcome {
  margin: 5px;
}

.editProfileButton {
  margin: 5px;
}

.navSignout {
  margin: 5px;
  display: flex;
}
