.navigationComponent {
  height: 100px;
  width: 100vw;
  color: #dad7d2;
  background-color: #181a1b;
  opacity: 0.9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.navLogo {
  height: 100px;
  width: 100px;
}
