.homePage {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  /* overflow-y: scroll; */
}
/* .space {
  height: 100px;
  width: 100px;
} */

.homePagePosts {
  min-height: 200px;
  height: auto;
  width: 1000px;
  color: #dad7d2;
  background-color: #181a1b;
  opacity: 0.9;
  border-radius: 4px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 100px;
  margin-bottom: 200px;
  align-items: center;
  padding: 20px;
}
.pullPost {
  min-height: 200px;
  width: 1000px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.namePicAndTitle {
  width: 15%;
  height: 90%;
  background-color: grey;
}

.updateAndPost {
  width: 75%;
  height: 90%;
  background-color: grey;
}

.homeAlbums {
  min-height: 310px;
  height: auto;
  width: 150px;
  background-color: #181a1b;
  padding: 20px;
  border-radius: 4px;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 200px;
}

.HomeAlbumList {
  height: auto;
  width: 100vw;
}

.allAlbumNames {
  height: auto;
  width: 100vw;
  cursor: pointer;
}

.albumNamesComp {
  height: auto;
  width: 100vw;
}

/* .homeAddAlbum {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;  
   margin-top: 10px;
} */

/* .dropDownBox{
  cursor: pointer;  
}  */

.homeAddAlbum {
  cursor: pointer;
}

/* .dropContent{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}  */
