.AuthenticationComponent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgb(233, 233, 233);
}
main{
    height: 500px;
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;    
    opacity: .95;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height:150px;
    width:150px;
    /* background-image: image(); */
}