// @use "../../Variables";

$commonHeight: 100vh;
$commonWidth: 100vw;
$commonDisplay: flex;
$commonJustify: center;
$commonBackGroundColor: #181a1b; 
$commonFontColor: #dad7d2;

@mixin boxSetup1{
    opacity: 0.9;
    border-radius: 4px;
    -webkit-box-shadow: 0px 9px 14px 5px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 9px 14px 5px rgba(0,0,0,0.79);
    box-shadow: 0px 9px 14px 5px rgba(0,0,0,0.79);
}

@mixin flexer{
    display: $commonDisplay;
    justify-content: $commonJustify;
}

@mixin fullscreen{
    height: $commonHeight;
    width: $commonWidth;    
}

@mixin colors{
    background-color: $commonBackGroundColor;
    color: $commonFontColor;
}

.registrationComponent {
    @include fullscreen;
    @include flexer;
    align-items: center;
  }
  
  .registrationBox {
      @include colors;
      @include flexer;
      @include boxSetup1;
    height: 60vh;
    width: 35vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .registrationPageTitle {
    font-size: 30px;
  }
  
  .inputsAndButtons {
      @include flexer;
    height: 60%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .registrationInputs {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .registrationButtons {
    margin-top: 20px;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .registrationLogo {
    margin-top: 20px;
    filter: invert(1);
  }
  
  @media (max-width: 1025px) {
    .registrationBox{
      width: 65vw;
      height: 55vh;
      margin-bottom: 40px;
    }
  
    .regInputs{
      padding:10px 8px;
      font-size: 21px;
      margin-bottom: 10px;
    }
  
    .registrationInputs{
      display: flex;
      justify-content: space-between;
      height: 70%;
    }
  
    .regButtons{
      padding:12px;
      font-size: 23px;
  
    }
  
    .registrationPageTitle{
      font-size: 42px;
    }
  
    .registrationLogo{
      height: 17%;
    }
  }
  
  @media (max-width: 500px) {
    .registrationBox{
      width: 100vw;
      height: 80vh;
      margin-bottom: 40px;
    }
  
    .regInputs{
      padding:10px 8px;
      font-size: 21px;
      margin-bottom: 10px;
    }
  
    .registrationInputs{
      display: flex;
      justify-content: space-between;
      height: 70%;
    }
  
    .registrationButtons{
      width:100%;
      margin-top: 35px;
    }
  
    .regButtons{
      padding:8px;
      font-size: 20px;
  
    }
  
    .registrationPageTitle{
      font-size: 42px;
    }
  
    .registrationLogo{
      height: 14%;
    }
  }


